/* General CSS code - applies to all pages */

input {
  outline: none;
}

input[type="submit"] {
  width: 90px;
  height: 30px;
  color: white;
  background: rgba(63, 191, 76, 0.9);
  font-size: 15px;  
  font-family: "Slim Joe", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: rgba(0, 191, 76, 0.9);
}

input[type="password"] {
  color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  }

input[type="text"], select {
  color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  }
  
  ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {  
   text-align: center;  
}

body {
	font-family: Arial;
}

.h1 {
  color: #2D353C;
}

.hr-black {
	color: black;
	background-color: black;
	border-color: black;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	color: blue;
}
