/* General CSS code - applies to all pages */

input, select, button, textarea, * {
  outline: none;
}

input[type="submit"], button:not(.nostyle) {
  width: 130px;
  height: 30px;
  color: white;
  background: rgba(63, 191, 76, 0.9);
  font-size: 15px;  
  font-family: "Slim Joe", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

input[type="submit"]:hover, button:not(.nostyle):hover {
  background: rgba(0, 191, 76, 0.9);
}

input[type="password"] {
  color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
  }

input:not([type="checkbox"]):not([type="submit"]), select {
  color: black;
  height: 30px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
 }
 
textarea {
  color: black;
  height: 100px;
  width: 270px;
  background: white;
  font-size: 15px;
  font-family: "Century Gothic", Arial;
  border: 3px solid black;
  border-radius: 5px;
  text-align: center;
 }
  
  ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {  
   text-align: center;  
}

body {
	font-family: Arial;
}

.h1 {
  color: #2D353C;
}

.hr-black {
	color: black;
	background-color: black;
	border-color: black;
}

a {
	color: inherit;
	text-decoration: none;
}

a:not(.dont-bold) {
	font-weight: bold;
}

a:hover {
	color: blue;
}

table {
	text-align: center;
}
}

.rank-tag-orange {
	color:black;
	padding:5px;
	border-radius:5px;
	border:1px solid black;
	font-weight:bold;
	background-color: orange;
}

.rank-tag-green {
	color:white;
	padding:5px;
	border-radius:5px;
	border:1px solid black;
	font-weight:bold;
	background-color: green;
}

.rank-tag-blue {
	color:white;
	padding:5px;
	border-radius:5px;
	border:1px solid black;
	font-weight:bold;
	background-color: blue;
}

.rank-tag-purple {
	color:white;
	padding:5px;
	border-radius:5px;
	border:1px solid black;
	font-weight:bold;
	background-color: purple;
}




.bg-orange {
	background-color: orange;
}

.bg-green {
	background-color: green;
}

.bg-blue {
	background-color: blue;
}

.bg-purple {
	background-color: purple;
}

.notif {
color: black;/*#58765A;*/
background-color: #7CDDA7;
padding: 15px;
border: 0px solid #58765A;
border-radius: 4px;
width: 90%;
position: relative;
left: 5%;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
}

body {
	background-color: white;
}
